.header{
    border-radius: 30px;
    margin: 10px;
    height: 65px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    height: 50px;
    margin-left: 100px ;
    border-radius: 100px;
}

.header .signup{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    height: 30px;
    margin-right: 100px;
    border-radius: 10px;
    color: #fff;
    background: #000;
    font-weight: bold;
}

.heros{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin: 25px;
    border-radius: 30px;
}

.featuresection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin: 25px;
    border-radius: 30px;
    height: 400px;
    padding: 15px;
}

.work{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    margin: 25px;
    border-radius: 30px;
    height: 300px;
    padding: 15px;
    justify-content: space-evenly;
}

.rolesection{
    display:flex;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:25px;
    border-radius: 30px;
    height: 600px;
    padding: 15px;
    gap:20px
}

.rolesection .rolec{
    margin-left: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
}



.work .flow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}

.work .flow .arrow{
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 40px;
}

.heros .getstarted{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heros .justimage{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    position: relative;
}

.heros .bolb{
    position: absolute;
    z-index: 1;
    height: 560px;
}

.heros .bolbcat{
    position: absolute;
    z-index: 2;
}

.heros .bolbcat:hover{
    height: 300px;
}


.heros .startbutton{
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px;
}

.getstarted .statssection{
    margin-top: 50px;
    margin-left: 30px;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    display: flex;
}

.featuresection .featurecard{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.header .signup:hover{
    box-shadow: 5px 5px 20px blue;
    height: 32px;
}

.heros .getstarted .startbutton:hover{
    box-shadow: 5px 5px 20px blue;
    font-size: 18px;
}