.header{
    border-radius: 30px;
    margin: 10px;
    height: 65px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    height: 50px;
    margin-left: 100px ;
    border-radius: 100px;
}

.header .signup{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    height: 30px;
    margin-right: 100px;
    border-radius: 10px;
    color: #fff;
    background: #000;
    font-weight: bold;
}

.heros{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin: 25px;
    border-radius: 30px;
}

.heros .getstarted{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heros .justimage{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
}

.heros .bolb{
    position: absolute;
    z-index: 1;
    height: 600px;
}

.heros .bolbcat{
    position: absolute;
    z-index: 2;
}


.heros .startbutton{
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px;
}

.getstarted .statssection{
    margin-top: 50px;
    margin-left: 30px;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    display: flex;
}
